{% extends "base.html.twig"%}

{% block title %}
         BACK OFFICE || GESTION des CATEGORIES
{% endblock %}


{% block body %}


        <h1 class="display-4 text-center my-5">  BACK OFFICE || GESTION des CATEGORIES </h1>

        <table class="table table-bordered text-center">

                <tr>
                    {% for oneColonne in colonnes %}

                    
                    {% endfor %}
            

                </tr>


{% endblock %}