{% extends "base.html.twig" %}

{% block title %}
        BackOffice ||  NOUVELLE CATEGORIE 
{% endblock %}        

{% block body %}
       
        <h1 class="display-4 text-center my-5"> NEW Catégorie</h1>

        
    
        {{ form_start(formCategory, {'attr' : {'class': 'col-md-5 mx-auto'} }) }}
            
            {{ form_row(formCategory.title, {'label' : "Titre de la catégorie"}) }}

            {{ form_row(formCategory.description, { 'attr' : {'rows' : 15}}) }}

          

            <button type="submit" class="btn btn-warning">Enregistrer la catégorie</button>

        {{ form_end(formCategory) }}

{% endblock %}