{% extends "base.html.twig"%}

{% block title %}

    Création d'un nouvel article

{% endblock %}

    

{% block body %}

    <h1 class="display-4 text-center my-5">Création d'un nouvel article</h1>

    <form method="post" class="col-md-5 mx-auto">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre">
            
            
        </div>
        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <input type="password" class="form-control" id="content" name="content">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
        
            <input type="text" class="form-check-input" id="image" name="image">
            <label class="form-control" for="image">Photo de l'article</label>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Enregistrer l'article</button>
</form>     

{% endblock %}